body {
  text-align: center;
  font-family: 'Merriweather', serif;
  margin: 0
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  margin: 70px auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin-top: 0;
  font-weight: normal;
}
.dp {
  width: 200px;
}
.bio {
  width: 50%;
  margin: 20px auto 30px auto;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-cont {
  background-color: #8FBDD3;
  padding-top: 50px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.skill-row {
  width: 50%;
  margin: auto;
}
.analytics {
  width: 15%;
}

.software {
  width: 15%;
}

.touch {
  margin: 20px auto 0 auto;
}

.btn {
  background: #A27B5C;
  background-image: -webkit-linear-gradient(top, #A27B5C, #A27B5C);
  background-image: -moz-linear-gradient(top, #A27B5C, #A27B5C);
  background-image: -ms-linear-gradient(top, #A27B5C, #A27B5C);
  background-image: -o-linear-gradient(top, #A27B5C, #A27B5C);
  background-image: linear-gradient(to bottom, #A27B5C, #A27B5C);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3F4E4F;
  text-decoration: none;
}

.bottom-container {
  background-color: #2C3639;
  margin-bottom: 0;
  margin-top: 20px;
  text-decoration-color: white;
  padding: 15px;
}

a {
  color: white;
  margin: 10px 20px;
}

a:hover {
  color: #A27B5C;
}

.copyright {
  color: white;
  font-size: 0.75rem;
  padding-top: 1rem;
}
